################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/out
/CMakeSettings.json
/build
/.vs
/.idea
/backup
