[submodule "qb-module/sample"]
	path = qb-module/sample
	url = https://github.com/isndev/qb-sample-module.git
[submodule "qb-module/iopoll"]
	path = qb-module/iopoll
	url = https://github.com/isndev/qb-module-iopoll.git
[submodule "qb-module/timer"]
	path = qb-module/timer
	url = https://github.com/isndev/qb-module-timer.git
[submodule "qb"]
	path = qb
	url = https://github.com/isndev/qb.git
	branch = master
